    <footer>
        <div class="content has-text-centered">
            <p>
            <strong><%= bot.user.username %></strong> par <a href="https://natoune.tk">Natoune</a>. Le code source du bot est sous License
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/8fba81c92b.js" crossorigin="anonymous"></script>
    <!-- NAVBAR -->
    <script type="text/javascript">document.addEventListener("DOMContentLoaded",()=>{const e=Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"),0);e.length>0&&e.forEach(e=>{e.addEventListener("click",()=>{const t=e.dataset.target,a=document.getElementById(t);e.classList.toggle("is-active"),a.classList.toggle("is-active")})})})</script>
    <!-- IMAGE PROTECTION -->
    <script>for(var elms=document.querySelectorAll("img"),i=0;i<elms.length;i++)elms[i].setAttribute("onselectstart","return false"),elms[i].setAttribute("oncontextmenu","return false"),elms[i].setAttribute("ondragstart","return false");</script>
</body>
</html>