<%- include('./helpers/header'); %>
<style>.text{display:inline-block;margin-left:3%}h1{font-size:300%!important}h4{font-size:150%!important}img{display:inline;width:5%;vertical-align:top}
</style>
<%- include('./helpers/headerc'); %>
    <section class="hero has-text-white is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <img id="wheel" src="public/images/error.png">
                <div class="text">
                    <h1 class="title home-title has-text-white">Erreur 404</h1>
                    <h4 class="subtitle has-text-grey-light">Je n'ai pas trouvé pas la page que vous demandez !</h4>
                </div>
            </div>
        </div>
    </section>

    <script>var a=document.getElementById('wheel');var b=5;setInterval(function(){a.style.transform='rotateZ('+b+++'deg)'},30);</script>
<%- include('./helpers/footer'); %>